# Ambiente virtual
venv/

# Variáveis de ambiente
.env

# Cache do Python
__pycache__/
*.pyc

# Logs
logs/
*.log

# Arquivos gerados
output/

# Jupyter Notebook
*.ipynb

# Scripts auxiliares
run.bat
setup.bat


tests/relatorio_teste.txt